* {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  color: white;
}
body {
  background-color: #001;
}
.menu {
  background-color: #123;
  width: 70px;
  height: 100vh;
  padding: 10px;
  overflow: hidden;
  transition: 0.5s;
  margin-right: 10px;
}
.menu:hover {
  width: 300px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-shrink: 0;
}
.profile h2 {
  font-size: 20px;
  text-transform: capitalize;
}
.profile-img img {
  width: 100%;
}
.profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 3px white;
  flex-shrink: 0;
}
.menu ul {
  list-style: none;
  position: relative;
  height: 94%;
}
ul li a {
  display: block;
  text-decoration: none;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 40px;
  transition: 0.5s;
}
ul li a:hover,
.active,
.box-info .box:hover,td:hover {
  background-color: #ffffff55;
}
.log-out {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.log-out a {
  background-color: #a00;
}
ul li a i {
  font-size: 20px;
}
/* container */
.container {
  display: flex;
}
.content {
  width: 100%;
}
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0481ff;
  border-radius: 8px;
  margin: 10px 0;
  padding: 5px;
}
.title-bar i {
  font-size: 20px;
}
/* secton */
.box-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.box-info .box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  flex-basis: 150px;
  flex-grow: 1;
  background-color: #123;
  border-radius: 10px;
  transition: 0.5s;
}
.box-info .box i {
  font-size: 40px;
}
.data p {
  font-size: 15;
}
.data span {
  font-size: 30px;
}
table{
  width: 100%;
text-align: center;

border-spacing: 5px;

}
table th, table td{
  background-color: #123;
  height: 40px;
  border-radius: 10px;
  transition: .5s;
}
table th{
  background-color: #0481ff;
}